<h1>Burgers</h1>

<h2>Add a Burger</h2>
<input type="text" id="burger-input">
<button type="submit" id="burger-button">Add Burger!</button>

<h2>Burgers that are not devoured</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}</li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are devoured</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        <p> {{burger_name}} </p>
        <button type="submit" class="devour-button">Devour!</button>
    </li>
    {{/if}}
    {{/each}}
</ul>

<script>
    const burgerButton = document.querySelector('#burger-button');
    const burgerInput = document.querySelector('#burger-input');
    const devourButton = document.querySelectorAll('.devour-button');

    burgerButton.addEventListener('click', (event) => {
       
        let newBurger = {
            burger_name: burgerInput.value,
            devoured: false
        };

        console.log(newBurger);
        fetch('api/burgers/', {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(newBurger),
        }).then(response => {
            response = response.json();
            console.log(response)
        })
    });

    devourButton.addEventListener('click', (event) => {

    });
</script>